body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #f0f0f0; 
}

.excusa {
  text-align: center; 
  font-size: 1.5em; 
  border: 1px solid #ddd; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
}

.contenedor {
  text-align: center; 
}

h1 {
  margin-bottom: 20px; 
  font-size: 2em; 
}
